.character {
  border: none;
  font-size: 20px;
  border-radius: 8px;
 
  /* light theme */
  color: #272729;
  background-color: #f6f5fa;
  box-shadow: 0 2px 0 #e4e2f5;
 }

 .vi__container{
  width: 100%;
 }

 .container {
  min-height:100% !important;
  background-color: white !important;
 }